.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-lg {
  margin-top: 5em;
  margin-bottom: 4em;
}

.card-title {
  height: 4.5em;
}

.navbar-brand a {
  color: aqua;
}

.navbar-brand a:hover,
.navbar-brand:visited {
  color: #17a2b8 !important;
  text-decoration: none;
}

.card-body a {
  color: #17a2b8 !important;
}

.card-body a:hover {
  color: #6d8a99 !important;
  text-decoration: none;
}

.main-product-image img {
  height: 20rem !important;
}

.abtn:hover,
.abtn:visited {
  color: #17a2b8 !important;
  text-decoration: none !important;
}

.spinner {
  display: block;
  position: fixed;
  top: 50%;
  right: 50%;
}

.textSpinner {
  color: #9fa5aa;
  display: block;
  position: fixed;
  top: 56%;
  right: 47%;
}

.swal2-confirm {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.swal2-confirm:hover {
  background-color: #5a6268 !important;
}

.table>tbody>tr.no-border>td,
.table>thead>tr.no-border>th {
  border-top: none;
}